[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.2"
gitdb = "==4.0.11"
gitpython = "==3.1.43"
pre-commit = "==3.5.0"
pyyaml = "==6.0.1"
requests = "*"
python-dotenv = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
black = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"

[scripts]
lint = "flake8"
format = "black . --check"
